<div class="row admin-categories-page">
  <div class="col-11 m-auto">
    {{> admin-tabs route='categories'}}
    {{#if category}}
    <form class="row my-3" action="/admin/categories/{{category._id}}?_method=PUT" method="POST">
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="name" name="name" value="{{category.name}}" required>
      </div>
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="name_cht" name="name_cht" value="{{category.name_cht}}">
      </div>
      <div class="col-auto my-2">
        <button class="btn btn-warning" type="submit">Update</button>
        <a class="btn btn-link link-secondary" href="/admin/categories">or Create New </a>
      </div>
    </form>
    {{else}}
    <form class="row my-3" action="/admin/categories" method="POST">
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="Category Name" name="name">
      </div>
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="Category CHT Name" name="name_cht">
      </div>
      <div class="col-auto my-2">
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </form>
    {{/if}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">CategoryName</th>
          <th scope="col">Name_CHT</th>
          <th scope="col">CreatedAt</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {{#each categories}}
        <tr>
          <th scope="row">{{this.name}}</th>
          <td>{{this.name_cht}}</td>
          <td>{{formatTime product.createdAt}}</td>
          <td class="">
            <a href="/admin/categories/{{this._id}}" class="btn btn-warning my-1 mx-1">Edit</a>
            <form action="/admin/categories/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
              <button type="submit" class="btn btn-danger my-1 mx-1">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>