<div class="row admin-modles-page">
  <div class=" col-lg-6 col-md-8 col-sm-10 m-auto">
    {{> admin-tabs route='models'}}
    {{#if model}}
    <form class="row my-3" action="/admin/models/{{model._id}}?_method=PUT" method="POST">
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="name" name="name" value="{{model.name}}" required>
      </div>
      <div class="col-auto my-2">
        <button class="btn btn-warning" type="submit">Update</button>
        <a class="btn btn-link link-secondary" href="/admin/models">or Create New Model</a>
      </div>
    </form>
    {{else}}
    <form class="row my-3" action="/admin/models" method="POST">
      <div class="col-auto my-2">
        <input class="form-control" type="text" placeholder="Model Name" name="name">
      </div>
      <div class="col-auto my-2">
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </form>
    {{/if}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ModelName</th>
          <th scope="col">CreatedAt</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {{#each models}}
        <tr>
          <th scope="row">{{this.name}}</th>
          <td>{{formatTime this.createdAt}}</td>
          <td class="d-flex justify-content-center">
            <a href="/admin/models/{{this._id}}" class="btn btn-warning my-1 mx-1">Edit</a>
            <form action="/admin/models/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
              <button type="submit" class="btn btn-danger my-1 mx-1">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
  <div class="mt-1 d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item {{#ifCond pagenation.currentPage 1}} disabled {{/ifCond}}">
          <a class="page-link" href="/admin/models?page={{pagenation.prev}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{!-- 上十頁頭 --}}
        {{#if pagenation.prevTenPage}}
        <li class="page-item ">
          <a class="page-link" href="/admin/models?page={{pagenation.prevTenPage}}" aria-label="Next">
            <span aria-hidden="true">上十頁</span>
          </a>
        </li>
        {{/if }}
        {{!-- 上十頁尾 --}}
        {{#each pagenation.pages}}
        <li class="page-item {{#ifCond this ../pagenation.currentPage}} active {{/ifCond}}"><a class="page-link"
            href="/admin/models?page={{this}}">{{this}}</a></li>
        {{/each}}
        {{!-- 下十頁頭 --}}
        {{#if pagenation.nextTenPage}}
        <li class="page-item ">
          <a class="page-link" href="/admin/models?page={{pagenation.nextTenPage}}" aria-label="Next">
            <span aria-hidden="true">下十頁</span>
          </a>
        </li>
        {{/if}}
        {{!-- 下十頁尾 --}}
        <li class="page-item {{#ifCond pagenation.currentPage pagenation.totalPage}} disabled {{/ifCond}}">
          <a class="page-link" href="/admin/models?page={{pagenation.next}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  </div>
</div>