<div class="row admin-prducts-page">
  <div class="col-md-10 col-sm-8 m-auto">
    {{> admin-tabs route='products'}}
    <a href='/admin/products/create'>
      <button type='button' class='btn btn-primary my-3'>New Products</button>
    </a>
    <br />
    <table class='table align-middle'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>Name</th>
          <th scope='col'>Model</th>
          <th scope='col'>Category</th>
          <th scope='col'>produciton</th>
          <th scope='col'></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope='row'>{{this.name}}</th>
          <td>{{this.model}}</th>
          <td>{{this.category}}</td>
          <td {{#if this.production}} class="text-success" {{else}} class="text-danger" {{/if}}>{{this.production}}</td>
          <td>
            <button type='button' class='btn btn-link'>
              <a class='btn btn-link link-info' href='/admin/products/{{this._id}}'>
                Show
              </a>
            </button>
            <button type='button' class='btn btn-link'>
              <a class='btn btn-link link-success' href='/admin/products/{{this._id}}/edit'>
                Edit
              </a>
            </button>
            <form action='/admin/products/{{this._id}}?_method=DELETE' method='POST' style='display: inline;'>
              <button type='submit' class='btn btn-link link-danger'
                onclick="return confirm(`確定要刪除 {{this.model}}嗎 ?`)">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <nav aria-label="Page navigation col-6">
      <ul class="pagination">
        <li class="page-item {{#ifCond pagenation.currentPage 1}} disabled {{/ifCond}}">
          <a class="page-link" href="/admin/products?page={{pagenation.prev}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagenation.pages}}
        <li class="page-item {{#ifCond this ../pagenation.currentPage}} active {{/ifCond}}"><a class="page-link"
            href="/admin/products?page={{this}}">{{this}}</a></li>
        {{/each}}
        <li class="page-item {{#ifCond pagenation.currentPage pagenation.totalPage}} disabled {{/ifCond}}">
          <a class="page-link" href="/admin/products?page={{pagenation.next}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>