{{> goukaou-tabs}}
<div class="container">
  <h4 id='img-model-h4'>MASK MOLD - OFF SALE</h4>
  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4'>
    {{#each products}}
    <div class='col'>
      <div class='card h-100 img-model-card'>
        <a href='{{this.sampleImg}}'>
          <div class="inner">
          <img src='{{this.sampleImg}}' class='card-img-top' alt='...' /></a>
          </div>
        <div class='card-body'>
          <h6>{{this.name}}</h6>
          <span class="badge rounded-pill bg-primary">{{this.model}}</span>
          <p lass="card-text"> {{this.introduction}}</p>
        </div>
        <div class='card-footer d-flex justify-content-around align-items-center'>
            <span class='fw-bolder'>{{#unless production}} OFF SALE {{/unless}}</span>
            <a href="/products/offsale-img/{{this._id}}" id="offSalePage-fileBtn" class="salePage-btn"><i
                class="fa-solid fa-file-invoice "></i>
              file</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>