<div class="onsale-img-h1">
<h1 id="onsale-img-h1-1">{{products.model}} </h1>
<h1 id="onsale-img-h1-2"> {{products.production}}</h1>
</div>   
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4  row-cols-lg-5 g-4 ">
  {{#each products.imgUrl}}
  <div class="col">
    <div class="card h-100">
      <a
        href="{{this.url}}">
        <img
          src="{{this.url}}"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">{{this.name}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4  row-cols-lg-5 g-4 ">
  <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <a
        href="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg">
        <img
          src="https://static.wixstatic.com/media/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg/v1/fill/w_965,h_643,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_8560234d3ad74f62832c766f4c151e28~mv2.jpg"
          class="card-img-top" alt="..."></a>
      <div class="card-body">
        <p class="fw-bolder fs-1 text-center">Saber</p>
      </div>
    </div>
  </div>
</div> --}}