<div class='container zentai-suit-page'>
  <div class='zentai-suit-content'>
    <div class='zentai-suit-image'>
      <div class='row'>
        <div class='col-lg-8 border-1 border-danger'>
          <div id='carouselExampleCaptions' class='carousel slide' data-bs-ride='carousel' data-bs-keyboard="true"
            data-bs-interval='false'>
            <div class='carousel-inner'>
              {{#each products}}
              {{#each this.imgUrl}}
              <div class='carousel-item  ' data-bs-keyboard="true" data-bs-touch="true">
                <img src="{{this.url}}" class='d-block carousel-item-img ' alt='...' />
                <div class='carousel-caption '>
                  <div class="imgContent">
                    <div class='imgName'>
                      <p>{{this.name}}</p>
                    </div>
                    <div class='imgNumber'>
                      <p>{{this.id}} / {{../../imgLength}}</p>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
              {{/each}}
            </div>
            <button class='carousel-control-prev' type='button' data-bs-target='#carouselExampleCaptions'
              data-bs-slide='prev' id="carousel-control-prev">
              <span class='carousel-control-prev-icon' aria-hidden='true'></span>
              <span class='visually-hidden'>Previous</span>
              <input type="hidden" name="prev" value="1" id="prev">
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#carouselExampleCaptions'
              data-bs-slide='next' id="carousel-control-next">
              <span class='carousel-control-next-icon' aria-hidden='true' value="0"></span>
              <span class='visually-hidden'>Next</span>
              <input type="hidden" name="next" value="1" id="next">
            </button>
          </div>
        </div>
        <div class='col-lg-4 border-1 border-danger'>
          {{#each products }}
             <div class='col'>
            <p>
              <span>{{this.model}}</span>
              <br />
              --Price: {{this.basePrice}}{{#if this.highestPrice}}-{{this.highestPrice}}{{/if}} USD
              <br />
              --Shipping fee: 20-25 USD
            </p>
            <a href={{this.url}}>Buy it
              by following this link.</a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='zentai-suit-text'>
      <div class='row'>
        <div class='col border'>
          <p>Thank you to all of our friends who support our studio and our
            zentai suits.
            <br />
            To give you more comfortable feelings of wearing experience, we
            always work hard to develop new products.
            <br />
            We wish you have better feeling in touching and better experience
            when playing.
            <br />
            <br />
            Recently, we have tested all kinds of fabrics in skin colors for
            Kigurumi, and finally decided to open a production line in factory.
            Now we produce our own fabrics for professional use of Kigurumi.
            <br />
            <br />
            Because the fabrics are developed for Kigurumi use, it not only
            remains the perfect skin color, also we specially choose the fabrics
            with better durability, comfort and elasticity. With the features of
            softness and smoothness of our fabrics, we believe our players will
            love it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var items = document.querySelectorAll('.carousel-item ')
  items[0].classList.add('active')
</script>